<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tanmay Bhagwat</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://img.icons8.com/wired/64/000000/document.png">  
    
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'> 
    
    <!-- FontAwesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>
    
    <!-- Global CSS -->
    <link rel="stylesheet" href="client/plugins/bootstrap/css/bootstrap.min.css">   
    
    <!-- github calendar css -->
    <link rel="stylesheet" href="client/plugins/github-calendar/dist/github-calendar.css">
    <!-- github acitivity css -->    
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/octicons/2.0.2/octicons.min.css">
    <link rel="stylesheet" href="client/plugins/github-activity/github-activity-0.1.5.min.css">
    
    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="client/css/styles.css">

<script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
<script type="IN/Share" data-url="https://www.linkedin.com"></script>
    
</head> 

<body>
    <div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2"></script>
    <!-- ******HEADER****** --> 
    <header class="header">
        <div class="container">                       
            <img class="profile-image img-fluid float-left" src="client/images/profile.png" id="profile" alt="Tanmay Bhagwat" />
            <div class="profile-content">
                <h1 class="name">Tanmay Bhagwat</h1>
                <h3 class="desc1">Full Stack Web Developer</h3><br>
                <ul class="social list-inline">
                    <li class="list-inline-item"><a href="https://www.linkedin.com/in/tanmay-bhagwat/"><i class="fab fa-linkedin-in"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.github.com/frizzid07"><i class="fab fa-github-alt"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.instagram.com/frizzid_tanmay/"><i class="fab fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.facebook.com/tanmaybhagwat"><i class="fab fa-facebook-square"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.medium.com/@tanmaybhagwat"><i class="fab fa-medium-m"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.quora.com/profile/Tanmay-Bhagwat-4"><i class="fab fa-quora"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.twitter.com/tanmay_161298"><i class="fab fa-twitter"></i></a></li>
                </ul>
            </div><!--//profile-->
            <a class="btn btn-dark btn-lg" id="contact" href="mailto:tanmaybhagwat07@gmail.com" target="_blank"><i class="fas fa-envelope-square"></i></i> Contact Me</a
        </div><!--//container-->
    </header><!--//header-->
    
    <div class="container sections-wrapper">
        <div class="row">
            <div class="primary col-lg-8 col-12">
                <section class="about section">
                    <div class="section-inner">
                        <h2 class="heading">About Me</h2>
                        <div class="content">
                            <p>I'm a 20-year-old Computer Engineering Undergrad from Thane, Maharashtra, India. I'm proficient in C, Java, JavaScript & Python. I have worked with HTML5, CSS3, Bootstrap, Node.js, Express.js, Passport.js, Mongo DB & Tensorflow.js. My other interests include music, writing and publishing technical articles and trekking.</p>
                         
                        </div><!--//content-->
                    </div><!--//section-inner-->                 
                </section><!--//section-->
                
                <aside class="education aside section">
                    <div class="section-inner">
                        <h2 class="heading">Education</h2>
                        <div class="content">
                            <div class="item">                      
                                <h3 class="title"><i class="fas fa-graduation-cap"></i> BE Computer Engineering</h3>
                                <h4 class="university">University of Mumbai <span class="year">(August 2016-present)</span></h4>
                            </div><!--//item-->
                            <div class="item">
                                <h3 class="title"><i class="fas fa-graduation-cap"></i> HSC</h3>
                                <h4 class="university">IITian's PACE Junior Science College<span class="year">(July 2014-March 2016)</span></h4>
                            </div><!--//item-->
                            <div class="item">
                                <h3 class="title"><i class="fas fa-graduation-cap"></i> SSC</h3>
                                <h4 class="university">Sou. A. K. Joshi English Medium School <span class="year">(June 2013-April 2014)</span></h4>
                            </div><!--//item-->
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->
                
               <section class="latest section">
                    <div class="section-inner">
                        <h2 class="heading">Projects</h2>
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                          <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                          </ol>
                          <div class="carousel-inner">
                            <div class="carousel-item active">
                              <div class="item row d-block w-100">
                                <a class="col-md-4 col-12" href="https://github.com/frizzid07/Artisan-Ecommerce" target="_blank">
                                <img class="img-fluid project-image" src="client/images/scr3.png" alt="project name" />
                                </a><hr>
                                <div class="desc col-12">
                                    <h3 class="title"><a href="https://github.com/frizzid07/Artisan-Ecommerce" target="_blank">Artisan Ecommerce Portal</a></h3>
                                    <p class="mb-2">A web application for local artists and craftsmen to showcase their talent in front of the entire world. It includes features like product recommendations, AI powered chatbot and multilingual support.</p>
                                    <p><a class="more-link" href="https://github.com/frizzid07/Artisan-Ecommerce" target="_blank"><i class="fas fa-external-link-alt"></i>Find out more</a></p>
                                </div><!--//desc-->                          
                            </div><!--//item-->
                            </div>
                            <div class="carousel-item">
                              <div class="item row d-block w-100">
                                <a class="col-md-4 col-12" href="https://github.com/frizzid07/TSEC_HACK" target="_blank">
                                <img class="img-fluid project-image" src="client/images/scr1.png" alt="project name" />
                                </a><hr>
                                <div class="desc col-12">
                                    <h3 class="title"><a href="https://github.com/frizzid07/TSEC_HACK" target="_blank">New Hope Foundation</a></h3>
                                    <p class="mb-2">A web application for an orphanage, allowing them to organise fundraisers, events & live interaction developed using Node.js, Express.js & MongoDB. This project was elected as a Finalist for TSEC Hackathon 2019.</p>
                                    <p><a class="more-link" href="https://github.com/frizzid07/TSEC_HACK" target="_blank"><i class="fas fa-external-link-alt"></i>Find out more</a></p>
                                </div><!--//desc-->                          
                            </div><!--//item-->
                            </div>
                            <div class="carousel-item">
                            <div class="item row d-block w-100">
                                <a class="col-md-4 col-12" href="http://vlift.herokuapp.com" target="_blank">
                                <img class="img-fluid project-image" src="client/images/scr2.png" alt="project name" />
                                </a><hr>
                                <div class="desc col-12">
                                    <h3 class="title"><a href="http://vlift.herokuapp.com" target="_blank">VLift: Customer Service Portal</a></h3>
                                    <p class="mb-2">A web application for directly connecting users and service professionals, developed using Node.js & MongoDB as a Freelance Developer for VLift Pvt. Ltd.</p>
                                    <p><a class="more-link" href="https://github.com/frizzid07/vlift" target="_blank"><i class="fas fa-external-link-alt"></i>Find out more</a></p>
                                </div><!--//desc-->                          
                            </div><!--//item-->
                            </div>
                            <div class="carousel-item">
                            <div class="item row d-block w-100">
                                <a class="col-md-4 col-12" href="http://box4u.herokuapp.com/" target="_blank">
                                <img class="img-fluid project-image" src="client/images/scr4.png" alt="project name" />
                                </a><hr>
                                <div class="desc col-12">
                                    <h3 class="title"><a href="http://box4u.herokuapp.com/" target="_blank">Box4U: Online Food Ordering Portal</a></h3>
                                    <p class="mb-2">A web portal for online food ordering and delivery providing a range of items belonging to a variety of cuisines.</p>
                                    <p><a class="more-link" href="https://github.com/frizzid07/WDLProject" target="_blank"><i class="fas fa-external-link-alt"></i>Find out more</a></p>
                                </div><!--//desc-->                          
                            </div><!--//item-->
                            </div>
                          </div>
                          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                          </a>
                          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                          </a>
                        </div>
                    </div><!--//section-inner-->                
                </section><!--//section-->
                
                <section class="experience section">
                    <div class="section-inner">
                        <h2 class="heading">Work Experience</h2>
                        <div class="content">
                            <div class="item">
                                <h3 class="title">Editor in Chief - <span class="place"><a href="http://decrypt.co.in/">CSI-RAIT Decrypt</a></span> <span class="year">(August 2018 - Present)</span></h3>
                                <p>Worked as the Chief Editor for the online magazine 'Decrypt' by CSI RAIT from August 2018-present.</p>
                            </div><!--//item-->
                            <div class="item">
                                <h3 class="title">Freelance Web Developer - <span class="place"><a href="https://www.vlift.in/">VLift</a></span> <span class="year">(December 2018 - January 2019)</span></h3>
                                <p>Developed a web application for connecting service professionals and customers.</p>
                            </div><!--//item-->
                            
                        </div><!--//content-->  
                    </div><!--//section-inner-->                 
                </section><!--//section-->
                
                 <section class="github section">
                    <div class="section-inner">
                        <h2 class="heading">My GitHub</h2>
                        <div id="github-graph" class="github-graph">

                        </div><!--//github-graph-->
                        <!--//Usage: https://caseyscarborough.com/projects/github-activity/ -->                       
                        <div id="ghfeed" class="ghfeed">
                        </div><!--//ghfeed-->
                        
                    </div><!--//secton-inner-->
                </section><!--//section-->
                
                <section class="experience section">
                    <div class="section-inner">
                        <h2 class="heading">My Instagram Feed</h2>
                        <div id="pixlee_container"></div><script type="text/javascript">window.PixleeAsyncInit = function() {Pixlee.init({apiKey:'SxKqLNErpiBK67eR8SFW'});Pixlee.addSimpleWidget({widgetId:'17235'});};</script><script src="//instafeed.assets.pixlee.com/assets/pixlee_widget_1_0_0.js"></script>
                    </div>
                </section>
                
            </div><!--//primary-->
            <div class="secondary col-lg-4 col-12">
                 <aside class="info aside section">
                    <div class="section-inner">
                        <h2 class="heading sr-only">Basic Information</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                <li><i class="fas fa-map-marker-alt"></i><span class="sr-only">Location:</span>Thane, Maharashtra, India</li>
                                <li><i class="fas fa-envelope"></i><span class="sr-only">Email:</span><a href="mailto:tanmaybhagwat07@gmail.com">Gmail</a></li>
                                <li><i class="fas fa-link"></i><span class="sr-only">Blog:</span><a href="https://medium.com/@tanmaybhagwat">Medium</a></li>
                            </ul>
                        </div><!--//content-->  
                    </div><!--//section-inner-->                 
                </aside><!--//aside-->
                
                <aside class="skills aside section">
                    <div class="section-inner">
                        <h2 class="heading">Skills</h2>
                        <div class="content">
                            
                            <div class="skillset">
                               
                                <div class="item">
                                    <h3 class="level-title">JavaScript &amp; Node.js<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="You can use the tooltip to explain more about your skill level..."><i class="fas fa-info-circle"></i>Expert</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="86%">
                                        </div>                                      
                                    </div><!--//level-bar-->                                 
                                </div><!--//item-->
                                
                                <div class="item">
                                    <h3 class="level-title">HTML5 &amp; CSS3<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="You can use the tooltip to explain more about your skill level..."><i class="fas fa-info-circle"></i>Expert</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="96%">
                                        </div>                                      
                                    </div><!--//level-bar-->                                 
                                </div><!--//item-->
                                
                                <div class="item">
                                    <h3 class="level-title">Java<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="You can use the tooltip to explain more about your skill level..."><i class="fas fa-info-circle"></i>Pro</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="70%">
                                        </div>                                      
                                    </div><!--//level-bar-->                                 
                                </div><!--//item-->
                                
                                <div class="item">
                                    <h3 class="level-title">Python<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="You can use the tooltip to explain more about your skill level..."><i class="fas fa-info-circle"></i>Pro</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="80%">
                                        </div>                                      
                                    </div><!--//level-bar-->                                 
                                </div><!--//item-->
                            </div>              
                        </div><!--//content-->  
                    </div><!--//section-inner-->                 
                </aside><!--//section-->
                            
                <aside class="languages aside section">
                    <div class="section-inner">
                        <h2 class="heading">My Hackerrank</h2>
                        <div class="content">
                            <blockquote class="embedly-card"><h4><a href="https://www.hackerrank.com/Frizzid07">Tanmay Bhagwat (Frizzid07) on HackerRank</a></h4><p>Join over 5 million developers in solving code challenges on HackerRank, one of the best ways to prepare for programming interviews.</p></blockquote>
                            <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->
                
                <aside class="blog aside section">
                    <div class="section-inner">
                        <h2 class="heading">Latest Blog Posts</h2>
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                              <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                              </ol>
                              <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <blockquote class="embedly-card d-block w-100"><h4><a href="https://medium.com/datadriveninvestor/google-duplex-personification-at-its-best-1ee2ec828b1a">Google Duplex - Personification at its best</a></h4><p>Over the years, Google has never failed to amaze us with their cutting-edge technology and out-of-the-box experimentation. They have consistently been the first organization to get their hands over new, thriving technology. Google have successfully integrated Artificial Intelligence, Neural Networks, Advanced Speech Recognition into their system, granting them an edge over their competitors.</p></blockquote>
                                    <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>      
                                </div>
                                <div class="carousel-item">
                                    <blockquote class="embedly-card d-block w-100"><h4><a href="https://medium.com/datadriveninvestor/blockchain-the-pinnacle-of-cyber-security-fa17dbf20ba9">Blockchain: The Pinnacle of Cyber Security?</a></h4><p>Imagine a world where you can ensure making any number of confidential monetary transactions without the constant dread of getting hacked. Everything and I mean everything in your system or cloud today is prone to the threats of unauthorized access and manipulation and no amount of Cybersecurity software or schemes can help you change that.</p></blockquote>
                                    <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
                                </div>
                                <div class="carousel-item">
                                    <blockquote class="embedly-card d-block w-100"><h4><a href="https://medium.com/@tanmaybhagwat/convolutional-neural-network-notions-applications-8abed4bda08f">Convolutional Neural Network: Notions & Applications</a></h4><p>Neural Networks are computing systems vaguely inspired by the networks that constitute animal brains. They simulate the functioning of Neurons in Human Nervous System. Without being pre-programmed with a specific set of rules, these systems "learn" to perform tasks on their own considering a variety of examples.</p></blockquote>
                                    <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
                                </div>
                              </div>
                              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                              </a>
                              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                              </a>
                            </div>
                    </div><!--//section-inner-->
                </aside><!--//section-->
                
                <aside class="list music aside section">
                    <div class="section-inner">
                        <h2 class="heading">My Facebook Page</h2>
                        <div class="fb-page" data-href="https://www.facebook.com/CsiRaitDecrypt/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/CsiRaitDecrypt/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/CsiRaitDecrypt/">Decrypt</a></blockquote></div>
                    </div>
                </aside>
                
                <aside class="skills aside section">
                    <div class="section-inner">
                        <h2 class="heading">My Channel</h2>
                            <blockquote class="embedly-card"><h4><a href="https://www.youtube.com/watch?v=5V3LJPZ52-w">Everglow by Coldplay - Instrumental Cover by Frizzid</a></h4><p>In this video, we cover the beautiful journey of Coldplay to the melodious tune of Everglow. Check it out! Subscribe -https://www.youtube.com/channel/UC8LK6rGbYB2mMatDowK_uow/featured Share this Video - https://youtu.be/5V3LJPZ52-w Intro- Senbazuru Kevin MacLeod (incompetech.com) Licensed under Creative Commons: By Attribution 3.0 License http://creativecommons.org/licenses/by/3.0/ Outro- Iron Bacon Kevin MacLeod (incompetech.com) Licensed under Creative Commons: By Attribution 3.0 License http://creativecommons.org/licenses/by/3.0/ Enjoy!</p></blockquote>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
                    </div>
                </aside>

                <aside class="skills aside section">
                    <div class="section-inner">
                        <h2 class="heading">Twitter Feed</h2>
                        Mention me <a href="https://twitter.com/intent/tweet?screen_name=tanmay_161298&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-show-count="false">Tweet to @tanmay_161298</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                        Follow me <a href="https://twitter.com/tanmay_161298?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @tanmay_161298</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>
                </aside>
                
                <aside class="skills aside section">
                    <div class="section-inner">
                        <h2 class="heading">Linkedin</h2>
                        <script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
                        Share about this website<script type="IN/Share" style="position: relative; left: 2%;" data-url="https://www.linkedin.com/in/tanmay-bhagwat/"></script>
                    </div>
                </aside>
                
                <aside class="list music aside section">
                    <div class="section-inner">
                        <h2 class="heading">Quora Feed</h2>
                        <div class="content">
                            <blockquote class="embedly-card"><h4><a href="https://www.quora.com/profile/Tanmay-Bhagwat-4">Tanmay Bhagwat</a></h4><p>Tanmay Bhagwat, Student. Here to get rid of Stupidity!</p></blockquote>
                            <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->
                
                <aside class="list music aside section">
                    <div class="section-inner">
                        <h2 class="heading">Favourite music</h2>
                        <div class="content">
                            <iframe src="https://open.spotify.com/embed/album/3T4tUhGYeRNVUGevb0wThu" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->
              
            </div><!--//secondary-->    
        </div><!--//row-->
    </div><!--//masonry-->
    
    <!-- ******FOOTER****** --> 
    <footer class="footer">
        <div class="container text-center">
                <!-- hitwebcounter Code START --><br>
                <h3 style="color: #EDF5E1;"><strong>Visitor Count</strong></h3>
                    <!-- hitwebcounter Code START -->
<div style="zoom: 1.5;"><!-- hitwebcounter Code START -->
<a href="http://www.hitwebcounter.com" target="_blank">
<img src="http://hitwebcounter.com/counter/counter.php?page=7057081&style=0010&nbdigits=5&type=page&initCount=0" title="install tracking codes" Alt="install tracking codes"   border="0" >
</a>                                        <br/>
                                        <!-- hitwebcounter.com --><a href="http://www.hitwebcounter.com" title="" 
                                        target="_blank" style="font-family: ; 
                                        font-size: px; color: #; text-decoration:  ;">
                                        </a>   
                            </div>

                <!--/* This template is released under the Creative Commons Attribution 3.0 License. Please keep the attribution link below when using for your own project. Thank you for your support. :) If you'd like to use the template without the attribution, you can check out our commercial license options via our website: themes.3rdwavemedia.com */-->
                <strong>&copy; 2019 by Tanmay Bhagwat</strong><br><small class="copyright">Designed with <i class="fas fa-heart"></i> by <a href="https://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for <strong>FREE</strong> under the <a class="dotted-link" href="https://creativecommons.org/licenses/by/3.0/" target="_blank">Creative Commons Attribution 3.0 License</a></small>
        </div><!--//container-->
    </footer><!--//footer-->
 
    <!-- Javascript -->          
    <script type="text/javascript" src="client/plugins/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="client/plugins/popper.min.js"></script> 
    <script type="text/javascript" src="client/plugins/bootstrap/js/bootstrap.min.js"></script>    
    <script type="text/javascript" src="client/plugins/jquery-rss/dist/jquery.rss.min.js"></script> 
    <!-- github calendar plugin -->
    <script type="text/javascript" src="client/plugins/github-calendar/dist/github-calendar.min.js"></script>
    <!-- github activity plugin -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js"></script>
    <script type="text/javascript" src="client/plugins/github-activity/github-activity-0.1.5.min.js"></script>
    <!-- custom js -->
    <script type="text/javascript" src="client/js/main.js"></script>            
</body>
</html>